{
	CFBundleIdentifier = "com.kainosnoema.${PRODUCT_NAME:rfc1034identifier}";
	"CFBundleDevelopmentRegion" = en;
	CFBundleExecutable = "${EXECUTABLE_NAME}";
	CFBundleIconFile = "";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundleName = "${PRODUCT_NAME}";
	CFBundlePackageType = APPL;
	CFBundleSignature = "????";
	"CFBundleShortVersionString" = "1.0";
	"LSMinimumSystemVersion" = "${MACOSX_DEPLOYMENT_TARGET}";
	CFBundleVersion = 1;
	NSMainNibFile = MainMenu;
	NSPrincipalClass = NSApplication;
}